@media (max-width: 768px) {
  .wrap {
    width: 96%;
  }
  .formError {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 0 !important;
  }
  .formError .formErrorContent {
    max-width: 100%;
  }
  .formError .formErrorContent {
    border-style: none;
    box-shadow: none;
    border-radius: 0px;
  }
  .formError .formErrorArrow div {
    box-shadow: none;
  }
  .formError .formErrorArrow .line8 {
    border-left-style: none;
    border-right-style: none;
  }
  .formError .formErrorArrow .line7 {
    border-left-style: none;
    border-right-style: none;
  }
  .formError .formErrorArrow .line6 {
    border-left-style: none;
    border-right-style: none;
  }
  .formError .formErrorArrow .line5 {
    background-color: #ee0101;
  }
  .formError .formErrorArrow .line4 {
    background-color: #ee0101;
  }
  .formError .formErrorArrow .line3 {
    background-color: #ee0101;
  }
  #up .nav-icon {
    margin-right: -3px;
  }
  #main {
    padding-top: 50px;
  }
  #main .bigtitle {
    font-size: 2rem;
    padding: 0 20px;
  }
  #main .main-text {
    padding: 0 20px;
  }
  #main .about-aside {
    padding-top: 0;
  }
  #main .contact-map {
    height: calc(50vh);
    transform: skewX(0deg);
  }
  #main .contact-content {
    width: 100%;
  }
  #main .contact-map-render {
    transform: skewX(0deg);
  }
  #main .contact-form {
    padding: 20px;
  }
  #main .contact-social .fa {
    margin: 0 30px;
  }
  #main .portfolio-item {
    min-height: 40vh;
    height: auto;
  }
  #main .portfolio-item:before {
    background-image: none;
  }
  #main .portfolio-main {
    padding: 20px;
    background-color: #eee;
  }
  #main .portfolio-img {
    height: 30vh;
    width: auto;
    display: block;
    margin: 0 auto 20px;
  }
  #main .portfolio-hidden {
    position: relative;
    z-index: 2;
  }
  #main .portfolio-close {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .wrap {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .wrap {
    width: 90%;
  }
}
