#home{
	font-size: 16px;
	.nav-item{background-color: rgba(#fff, .1);padding: 10px 0;margin-bottom: 1px;font-size: 2em;}
	.video{width: 100%;height: auto;position: absolute;z-index: -1;left: 0;top: 0;opacity: .5;}
	.side-right{}
	.bigtitle{font-size: 4.5em;font-family: 'cinzel';color: rgba(#000, .9);}
	.height{height: 100vh;}
	/* .social{
		margin: 15px;
		.fa{
			font-size: 1.2em;margin-left: 10px;opacity: .8;
			&:hover{opacity: 1;}
		}
	} */
}
#main{
	.list{background-color: rgba(#fff, .3);margin-top: -1px;}
	.list-item{background-color: rgba(#fff, .8);color: #666;padding: 10px;border-top: 1px solid #fff;}
}
#info{
	background-color: rgba(#fff, .8);
	.month{padding: 10px;font-size: .9em;background-color: rgba(#000, .2);}
	.collumn{
		width: 14.28571428571429%;float: left;position: relative;cursor: default;
		.calendar-day{padding: 15px;background-color: rgba(#fff, .2);color: rgba(#000, .9);border-right: 1px solid rgba(#000,.1);border-bottom: 1px solid rgba(#000,.1);}
	}
	.collumn-disabled{
		.calendar-day{background-color: #111;color: #333;}
	}
	.calendar-week{
		background-color: rgba(#000, .5);color: #fff;font-size: .9em;
		.collumn{padding: 5px;}
	}
	.enabled{font-weight: bold;}
	.has-event{
		&:hover{background-color: rgba(#fff, .4);}
		.calendar-events{
			background-color: rgba(#000, .1);color: #fff;
			&:before{content: '+' attr(data-quantity);}
		}
	}
	.calendar-events{position: absolute;right: 2px;bottom: 2px;font-size: .7em;width: 20px;height: 20px;line-height: 20px;border-radius: 100%;}
}