.header{
	&--nav{position: fixed;top: 0;right: 0;z-index: 3;color: #fff;font-size: 1.2em;height: 0;}
	&--check{
		display: none;
		&:checked{
			~.header{
				&--nav{
					height: 100%;
					.header{
						&--list{transform: translateX(0vh);}
						&--menu{
							color: darken(#e66, 10%);
							&:before{content: '';position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;z-index: 0;background-color: rgba(#000, .1);}
							&-text, .fa-bars{
								color: rgba(#fff, .5);
								&:hover{color: rgba(#fff, .8);}
							}
						}
						&--item{
							&-1{transform: translateX(-13px) skewX(-11deg);transition-delay: 0.1s;}
							&-2{transform: translateX(-22px) skewX(-11deg);transition-delay: 0.2s;}
							&-3{transform: translateX(-31px) skewX(-11deg);transition-delay: 0.3s;}
							&-4{transform: translateX(-40px) skewX(-11deg);transition-delay: 0.4s;}
							&-5{transform: translateX(-48px) skewX(-11deg);transition-delay: 0.5s;}
						}
					}
					.fa-bars{
						&:before{content: '\f00d';}
					}
				}
			}
		}
	}
	&--menu{
		position: absolute;right: 20px;top: 10px;color: #666;
		&-text, .fa-bars{
			position: relative;z-index: 1;transition: color .4s;
			
		}
		&-text{
			&:before{content: '';position: absolute;left: -100px;right: -100px;top: -10px;height: 45px;}
		}
	}
	&--list{
		padding: 46px 0px 10px;min-height: 100vh;position: relative;transform: translateX(70vh);transition: transform .4s;
		&:before{content: '';position: absolute;right: 0;bottom: 0;background-color: rgba(238,102,102,0.7);width: 341px;height: 100vh;transform: skewX(-10.5deg);transform-origin: 0% calc(341px * 2 - 48px);}
	}
	&--link{
		padding: 10px 5px;position: relative;border-left: 3px solid transparent;
		&:hover{background-color: rgba(#fff, .7);color: #666;border-left-color: #e66;}
		&:after{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
		&-text{transform: skewX(11deg);padding-left: 20px;}
		&-active{background-color: rgba(#fff, .9);color: #444;border-left-color: #e33;cursor: default;}
	}
	&--item{overflow: hidden;width: 200%;position: relative;transform: translateX(200px) skewX(-11deg);transition: transform .4s;}
}