#main .full-height {
  min-height: calc(100vh - 40px);
}

#main .bigtitle {
  font-size: 4rem;
  padding-top: 5px;
  color: #e99;
  padding: 0 2%;
}

#main .main-text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
}

#main .main-text p {
  margin-bottom: 1.8rem;
}

#main .main-text a {
  text-decoration: underline;
  color: #e99;
  font-weight: bold;
}

#main .main-text a:hover {
  color: #555;
  text-decoration: none;
}

#main .home-aside {
  width: 100%;
}

#main .home-bigtitle, #main .home-title, #main .home-subtitle, #main .social-link {
  opacity: 0;
  position: relative;
  animation: home-name-down .6s;
  animation-fill-mode: forwards;
  transform-origin: right bottom;
}

#main .home-bigtitle {
  color: #e66;
  font-size: 2rem;
}

#main .home-title {
  color: #333;
  font-size: 3.57rem;
  line-height: 3.4rem;
  animation-delay: .4s;
}

#main .home-subtitle {
  color: #999;
  font-size: 3rem;
  line-height: 3rem;
  padding: .5rem 0 0;
  margin-bottom: 1rem;
  animation-delay: .8s;
}

#main .home-subtitle:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 3px;
  right: 0px;
  border-bottom: 2px solid #999;
  animation-delay: .4s;
}

#main .social-link {
  color: #030303;
  border: 2px solid #030303;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  animation-delay: 1.2s;
  transition: color .6s, border-color .6s;
}

#main .social-link:hover {
  color: #e66;
  border-color: #e66;
}

#main .about-aside {
  padding: 100px 40px 0;
}

#main .about-item {
  background-color: #e99;
  transform: rotate(4deg);
  width: 110%;
  position: relative;
  left: -5%;
}

#main .about-item:nth-child(odd) {
  background-color: #f2afaf;
  transform: rotate(-3deg);
}

#main .about-item:hover {
  z-index: 2;
}

#main .about-link {
  color: #fff;
  font-size: 1.4rem;
  padding: 10px 0;
}

#main .about-link:hover {
  color: #e99;
  background-color: #eee;
  box-shadow: 0 0 10px #999;
}

#main .about-image {
  height: 320px;
  filter: grayscale(1);
  background: url(../img/sobre-perfil.jpg) 50% 50%;
  background-size: cover;
  transition: filter .6s;
}

#main .about-image:hover {
  filter: grayscale(0);
}

#main .portfolio-item {
  height: 18vw;
  background-size: cover;
  position: relative;
}

#main .portfolio-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  transition: opacity .4s;
}

#main .portfolio-item:hover:before {
  opacity: 0;
}

#main .labs-title {
  background-color: #e66;
  color: #fff;
  padding: 20px;
  font-size: 2rem;
  border-radius: 6px;
  cursor: pointer;
}

#main .labs-title:hover {
  background-color: #e99;
}

#main .labs-item {
  margin-bottom: 10px;
}

#main .labs-active:before {
  content: '\f068';
}

#main .labs-title {
  position: relative;
  z-index: 2;
}

#main .labs-content {
  background-color: #fff;
  margin-top: -7px;
  padding-top: 7px;
}

#main .labs-text {
  padding: 20px;
}

#main .labs-list-text {
  margin-bottom: 1rem;
}

#main .labs-link {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  border-bottom: 1px dashed #ccc;
}

#main .labs-link:before {
  content: '- ';
}

#main .labs-link:hover {
  color: #e99;
  border-bottom-color: #e99;
}

#main .svg-wrap {
  width: 250px;
  margin: 0 auto;
  position: relative;
}

#main .svg-recipient {
  width: 100%;
  margin-top: 160px;
  position: relative;
  z-index: 2;
}

#main .svg-recipient .st0 {
  fill: #52C6B4;
}

#main .svg-recipient .st2 {
  fill: #FFFFFF;
}

#main .svg-recipient .st3 {
  fill: #EE6666;
}

#main .svg-ball {
  position: absolute;
}

#main .svg-ball-red {
  fill: #e66;
}

#main .svg-ball-white {
  fill: #fff;
}

#main .svg-ball-1 {
  width: 50px;
  left: 120px;
  top: 0px;
  animation: labs-bubbles 10s linear infinite;
}

#main .svg-ball-2 {
  width: 40px;
  left: 60px;
  top: 40px;
  animation: labs-bubbles 15s linear infinite;
}

#main .svg-ball-3 {
  width: 30px;
  left: 140px;
  top: 70px;
  animation: labs-bubbles 13s linear infinite;
}

#main .svg-ball-4 {
  width: 10px;
  left: 110px;
  top: 100px;
  animation: labs-bubbles 2s linear infinite;
}

#main .svg-ball-5 {
  width: 20px;
  left: 110px;
  top: 130px;
  animation: labs-bubbles 4s linear infinite;
}

#main .contact-form {
  font-family: Arial, sans-serif;
  text-transform: none;
  font-size: .9rem;
}

#main .contact-form ._text {
  margin-bottom: 15px;
}

#main .contact-label {
  margin-bottom: 5px;
}

#main .contact-map {
  height: calc(100vh - 140px);
  transform: skewX(-10deg);
  transform-origin: 0 0;
  position: relative;
  z-index: 2;
}

#main .contact-map:before {
  content: '';
  position: absolute;
  right: -10%;
  width: 30px;
  top: 10px;
  bottom: 10px;
  border-radius: 100%;
  box-shadow: 0 0 30px #666;
  z-index: -1;
}

#main .contact-content {
  height: 100%;
  width: 110%;
  overflow: hidden;
}

#main .contact-map-render {
  transform: skewX(10deg);
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/staticmap.png);
}

#main .contact-social {
  margin-bottom: 20px;
}

#main .contact-social .fa {
  font-size: 1.3rem;
  margin-right: 10px;
}
