#home {
  min-height: calc(100vh - 30px);
}

#home .home-aside {
  width: 100%;
}

#home .home-bigtitle, #home .home-title, #home .home-subtitle, #home .social-link {
  opacity: 0;
  position: relative;
  animation: home-name-down .6s;
  animation-fill-mode: forwards;
  transform-origin: right bottom;
}

#home .home-bigtitle {
  color: #e66;
  font-size: 2rem;
}

#home .home-title {
  color: #333;
  font-size: 3.57rem;
  line-height: 3.4rem;
  animation-delay: .4s;
}

#home .home-subtitle {
  color: #999;
  font-size: 3rem;
  line-height: 3rem;
  padding: .5rem 0 0;
  margin-bottom: 1rem;
  animation-delay: .8s;
}

#home .home-subtitle:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 3px;
  right: 0px;
  border-bottom: 2px solid #999;
  animation-delay: .4s;
}

#home .social-link {
  color: #030303;
  border: 2px solid #030303;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  animation-delay: 1.2s;
  transition: color .6s, border-color .6s;
}

#home .social-link:hover {
  color: #e66;
  border-color: #e66;
}
