@mixin device($point) {
	@if $point == pc {
		@media (min-width: 997px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 996px) { @content ; }
	}
	@else if $point == mobileLand {
		@media (max-width: 620px)  { @content ; }
	}
	@else if $point == mobile {
		@media (max-width: 320px)  { @content ; }
	}
}
.cf {
	display: flex;flex-flow: wrap;
	  &:before
	, &:after{content: "";display: block;}
}
.cf:after{clear: both;}
.ta-c{text-align: center;}
.ta-r{text-align: right;}
.ta-l{text-align: left;}
.va-t{vertical-align: top;align-items: flex-start;}
.va-m{vertical-align: middle;align-items: center;}
.va-b{vertical-align: bottom;align-items: flex-end;}
.d-n{display: none;}
.d-ib{display: inline-block;}
.d-b{display: block;}
.fl-l{float: left;}
.fl-r{float: right;}
.wrap{width: 100%;margin-left: auto;margin-right: auto;position: relative;}
._text,._submit,._back,._cancel{display: inline-block;}
.img-center{display: block;margin-left: auto;margin-right: auto;}
.img-responsive{display: block;max-width: 100%;height: auto;}
.io-sign{border: 0 solid transparent;overflow: hidden;width: 140px;height: 50px;background-color: transparent;display: inline-block;margin-top: 15px;}
.img-error{box-shadow: 0 0 0 3px #c00;}
noscript p{position: fixed;left: 3px;top: 3px;right: 3px;background-color: #c00;color: #fff;font-family: Arial;font-size: 30px;padding: 20px;z-index: 9999;}

/* MOBILE */
@for $i from 1 through 3 {
}


/* GRID 20 COLLUMNS */
$grid-width: 5%;
%col-init{float: left;min-height: 1px;padding-left: 3px;padding-right: 3px;}
@for $i from 1 through 20 {
	.col-#{$i} {
		@extend %col-init;
		width: $grid-width*$i;
	}
}
@for $i from 1 through 19 {
	.-col-#{$i} {
		margin-left: $grid-width*$i;
	}
}
.col-r{padding-right: 0;}
.col-l{padding-left: 0;}
.col-rl,.col-lr{padding-left: 0;padding-right: 0;}
@include device(pc) {
}

@include device(tablet) {
	.wrap{width: 90%;}
	.m-col-20{width: 20%;margin-left: 0;}
	.m-col-25{width: 25%;margin-left: 0;}
	.m-col-33{width: 33.3333%;margin-left: 0;}
	.m-col-50{width: 50%;margin-left: 0;}
	.m-col-75{width: 75%;margin-left: 0;}
	.m-col-80{width: 80%;margin-left: 0;}
	.m-col-100{width: 100%;margin-left: 0;}
	
	.m3-ta-c{text-align: center;}
	.m3-ta-r{text-align: right;}
	.m3-ta-l{text-align: left;}
	.m3-va-t{vertical-align: top;align-items: flex-start;}
	.m3-va-m{vertical-align: middle;align-items: center;}
	.m3-va-b{vertical-align: bottom;align-items: flex-end;}
	.m3-d-n{display: none;}
	.m3-d-ib{display: inline-block;}
	.m3-d-b{display: block;}
	.m3-fl-l{float: left;}
	.m3-fl-r{float: right;}
}
@include device(mobileLand) {
	.m2-ta-c{text-align: center;}
	.m2-ta-r{text-align: right;}
	.m2-ta-l{text-align: left;}
	.m2-va-t{vertical-align: top;align-items: flex-start;}
	.m2-va-m{vertical-align: middle;align-items: center;}
	.m2-va-b{vertical-align: bottom;align-items: flex-end;}
	.m2-d-n{display: none;}
	.m2-d-ib{display: inline-block;}
	.m2-d-b{display: block;}
	.m2-fl-l{float: left;}
	.m2-fl-r{float: right;}
}
@include device(mobile) {
	.m1-ta-c{text-align: center;}
	.m1-ta-r{text-align: right;}
	.m1-ta-l{text-align: left;}
	.m1-va-t{vertical-align: top;align-items: flex-start;}
	.m1-va-m{vertical-align: middle;align-items: center;}
	.m1-va-b{vertical-align: bottom;align-items: flex-end;}
	.m1-d-n{display: none;}
	.m1-d-ib{display: inline-block;}
	.m1-d-b{display: block;}
	.m1-fl-l{float: left;}
	.m1-fl-r{float: right;}
}
/* Validação <form> Backend */
.error-box{
	background-color: rgba(255,100,100,.95);border-radius: 6px;font-family: Arial, Verdana;font-size: 12px;display: inline-block;color: #fff;padding: 5px 15px;margin-bottom: 5px;position: relative;
	td{vertical-align: top;padding-bottom: 5px;}
	&.fixed{position: fixed;left: 50%;top: 10px;width: 320px;margin-left: -160px;z-index: 9999;}
	.error-cotent{left: 5px;right: 5px;top: 30px;bottom: 5px;overflow: auto;}
	.error-title{font-size: 16px;padding: 2px 35px;font-weight: bold;color: #900;text-shadow: -1px 1px 0 rgba(255,255,255,.3);}
	.error-name{white-space: nowrap;padding-left: 10px;padding-top: 3px;padding-right: 2px;color: #600;font-weight: bold;}
	.error-item{background-color: #d33;color: #fff;padding: 2px 5px;margin: 1px;border-radius: 3px;}
	.error-close{
		position: absolute;right: 5px;top: 5px;font-size: 10px;width: 20px;height: 20px;line-height: 22px;background-color: #900;color: #fff;border-radius: 100%;
		&:before{content: '\274c';}
	}
	@include device(tablet) {
		.error-cotent{position: relative;height: calc(100% - 35px);left: 1%;top: 5px;width: 98%;}
	}
	@include device(mobile) {
		.error-title{font-size: 12px;}
	}
}